
.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}
.button-wrapper {
  margin-top: 1rem;
}
.error {
  color: red;
  margin-top: 10px;
}
.forgot-password-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}