.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.nav-left {
  margin-right: auto; /* pushes everything else to the right */
}

.nav-right a {
  margin-left: 16px;
}

a.mat-button {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}

a.mat-button.active-link {
  border-bottom: 2px solid white;
}


/* for side nav */

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.sidenav-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #1976d2;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hide-desktop {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }

  .hide-desktop {
    display: inline-flex;
  }

  mat-sidenav {
    position: absolute;
    z-index: 1000;
  }
}



.flex-grow {
  flex: 1;
}

body.dark-theme mat-sidenav,
body.dark-theme mat-toolbar,
body.dark-theme mat-card {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.light-theme mat-card {
  background-color: white;
}


.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


